{% include 'includes/header.html' %}

    
    <div class="container my-5 content-height p-3" id="results">
        <p class="text-dark font-weight-bold">{{listing.user.first_name}} is {{listing.description}} on {{listing.month}} {{listing.day}} at {{listing.hour}}:{{listing.minute}}</p> 
        <p>Price: {{listing.price}} &euro;</p> 
        {% if listing.user.id != session['user_id'] and not requester%}  
        <form action="/{{listing.id}}/request_listing" method="post">
        <input type="submit" name="request_listing" value="Request" class="btn my-btn" id="request">
        </form>
        {% else %}
        <button class="btn btn-primary" disabled>Requested</button>
        {% endif %}
    </div>
    

{% include 'includes/footer.html' %}