{% include 'includes/header.html' %}


<div class="container my-3 content-height p-4">
    {% if not listings %}
    <h4>No Requests</h4>
    {% endif %}
    {% for listing in listings %}
    <p>{{listing.requester_name}} requested your listing: {{listing.description}} on {{listing.day}}/{{listing.month}}</p>
    <div class="row">
        {% if listing.accepted == 1 %}
        <button class="btn btn-info" disabled>Accepted</button>
        {% elif listing.accepted == 0 %}
        <button class="btn btn-info" disabled>Declined</button>
        {% else %}
    <form action="/{{listing.id}}/accept/{{listing.requester_id}}" method="post" class="mx-2">
        <input type="submit" class="btn btn-success" name="accept" value="Accept">
    </form>
    <form action="/{{listing.id}}/decline/{{listing.requester_id}}" method="post">
        <input type="submit" class="btn btn-danger" name="decline" value="Decline">
    </form>
    {% endif %}
    </div>
    <hr>
    {% endfor %}
</div>


{% include 'includes/footer.html' %}