

/*************************/
body{
  background: hsl(218, 28%, 13%);
}
.wrapper{
  height: 100vh;
  background: hsl(218, 28%, 13%);
  color: white;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
/****************/
.nav-bar{

} 
  .navbar h3{
    display: inline-block;
  }
  .navbar img{
    width: 70px;
    height: 70px;
  }
  .navbar a{
    text-decoration: none;
    color: white;
  }
  .navbar .links{
    display: flex;
    justify-content: space-between;
  }
  .navbar ul{
    list-style: none;
  }
  .navbar li{
    display: inline-block;
    margin-left: 25px;
  }
/*************/

.signup-login content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
  .signup-login content img{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .signup-login form .btn{
    margin: 15px;
    background-color: #f1543f;
    color: white;
  }
  .signup-login content a{
    text-decoration: none;
    color:#3dc9ae;
  }
  .errors-text{
    color: red;
    font-size: 11px;
  }



/****************/

footer{
  background: hsl(216, 53%, 9%);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  border-radius: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

  footer p{
    margin: 0;
  }
  footer a{
    text-decoration: none;
    color: white;
  }
  footer a:hover{
    text-decoration: none;
    color: white;
  }
