

/*************************/
body{
  background: hsl(218, 28%, 13%);
}
.wrapper{
  height: 100vh;
  background: hsl(218, 28%, 13%);
  color: white;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
/****************/
.nav-bar{

} 
  .navbar h3{
    display: inline-block;
  }
  .navbar img{
    width: 70px;
    height: 70px;
  }
  .navbar a{
    text-decoration: none;
    color: white;
  }
  .navbar .links{
    display: flex;
    justify-content: space-between;
  }
  .navbar ul{
    list-style: none;
  }
  .navbar li{
    display: inline-block;
    margin-left: 25px;
  }

  .active{
    font-weight: bold;
  }
/*******Landing Page**********/
.landingPage #landing-description{
  width: 50%;
}
.landingPage .btn{
  background-color: #4cdbc4;
  color: white;
  margin: 18px 0;
}

/****************/

.signup-login content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
  .signup-login content img{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .signup-login form .btn{
    margin: 15px;
    background-color: #f1543f;
    color: white;
  }
  .signup-login content a{
    text-decoration: none;
    color:#3dc9ae;
  }
  .errors-text{
    color: red;
    font-size: 11px;
  }
/*************/
/*.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}*/
  .home .container{
    display: flex;
    justify-content: space-between;
  }
#addExpense{
  width: 50%;
  /*margin: 15px;*/
  display: inline-block;
}
.card-header{
  background: hsl(216, 53%, 9%);
}
  .card-header .btn{
    background-color:#74b49b;
    color: white;
  }
.card-body{
  background: #74b49b;
}
  .card-body .form-control{
    width: 300px;
    margin: 15px 0;
    /*display: inline-block;*/
  }
  .card-body form{
    display: inline-block;
  }
  .card-body .btn{
    background: #207561;
    color: white;
  }
  .home table{
    width: 100%;
    display: inline-block;
  }
.table-content{
  text-align: center;
}
  .home table{
    text-align: left;
  }
  .home .table-content a{
    background-color:#74b49b;
    color: white;
  }
  .home th{
    width: 30%;
  }
  .home td{
    width: 30%;
  }
/****************/

.viewAll .table-content::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.viewAll .table-content::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.viewAll .table-content::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #32bea6;
}
/****************/
  .viewAll .content{
    padding: 15px 80px;
  }
  .viewAll .searchMonth{
    text-align: center;
  }
  .viewAll .form-control{
    display: inline-block;
    width: 250px;
    border: 4px solid #32bea6;
  }
  .viewAll .btn{
    color: white;
    background-color: #32bea6;
  }
  .viewAll .table-content{
    display: inline-block;
    margin-top: 25px;
    text-align: left;
    width: 50%;
    height: 420px;

    box-sizing: border-box;
    overflow-y: auto;
  }
#last-table-row{
  background: #32bea6;

  padding: 5px 10px;
  /* margin-top: 0; */
  width: 46%;
  text-align: center;

}
/*******Vizualization**********/
.vizualization{
  margin-left: 55px;
  display: inline-block;
  vertical-align: top;
}
.vizualization .box{

  width: 50px;
  height: 50px;
}
.vizualization .color1{
  background-color: #f1543f;
}
.vizualization .color2{
  background-color: #54c0eb;
}
.vizualization .color3{
  background-color: #cdd6e0;
}
.vizualization .color4{
  background-color: #3dc9ae;
}
.vizualization .color5{
  background-color: #f8b64c;
}
/*******Edit expense***********/
.editExpense{
  text-align: center;
}
  .editExpense .form-control{
    width: 400px;
    display: inline-block;
    margin: 55px 25px !important;
  }
  .editExpense .btn{
    color: white;
    background: #32bea6;
  }
  #edit-btn{
    margin-right: 100px;
  }

/********************/
footer{
  background: hsl(216, 53%, 9%);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  border-radius: 30px;
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
}

  footer p{
    margin: 0;
  }
  footer a{
    text-decoration: none;
    color: white;
  }
  footer a:hover{
    text-decoration: none;
    color: white;
  }
