

/*************************/
.wrapper{
  height: 100vh;
  background: hsl(218, 28%, 13%);
  color: white;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

.signup-login content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
  .signup-login content img{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .signup-login form .btn{
    margin: 15px;
    background-color: #f1543f;
    color: white;
  }
  .signup-login content a{
    text-decoration: none;
    color:#3dc9ae;
  }
  .signup-login form tr td p{
    color: red;
    font-size: 11px;
  }



/****************/

footer{
  background: hsl(216, 53%, 9%);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  border-radius: 30px;
}
  footer p{
    margin: 0;
  }
  footer a{
    text-decoration: none;
    color: white;
  }
  footer a:hover{
    text-decoration: none;
    color: white;
  }
