

/*************************/
body{
  background: hsl(218, 28%, 13%);
}
.wrapper{
  height: 100vh;
  background: hsl(218, 28%, 13%);
  color: white;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
/****************/
.nav-bar{

} 
  .navbar h3{
    display: inline-block;
  }
  .navbar img{
    width: 70px;
    height: 70px;
  }
  .navbar a{
    text-decoration: none;
    color: white;
  }
  .navbar .links{
    display: flex;
    justify-content: space-between;
  }
  .navbar ul{
    list-style: none;
  }
  .navbar li{
    display: inline-block;
    margin-left: 25px;
  }
/*************/
/*.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}*/
  .home .container{
    display: flex;
    justify-content: space-between;
  }
#addExpense{
  width: 50%;
  /*margin: 15px;*/
  display: inline-block;
}
.card-header{
  background: hsl(216, 53%, 9%);
}
  .card-header .btn{
    background-color:#74b49b;
    color: white;
  }
.card-body{
  background: #74b49b;
}
  .card-body .form-control{
    width: 300px;
    margin: 15px 0;
    /*display: inline-block;*/
  }
  .card-body form{
    display: inline-block;
  }
  .card-body .btn{
    background: #207561;
    color: white;
  }
  .home table{
    width: 100%;
    display: inline-block;
  }
.table-content{
  text-align: center;
}
  .home table{
    text-align: left;
  }
  .home .table-content a{
    background-color:#74b49b;
    color: white;
  }
  .home th{
    width: 30%;
  }
  .home td{
    width: 30%;
  }

/****************/

footer{
  background: hsl(216, 53%, 9%);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  border-radius: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

  footer p{
    margin: 0;
  }
  footer a{
    text-decoration: none;
    color: white;
  }
  footer a:hover{
    text-decoration: none;
    color: white;
  }
