<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="icon" href="{{url_for('static',filename = 'img/coin.png')}}">
	<title>Sign up · MoneyTracker</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sriracha|Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style.css')}}">
</head>
<body>
	<div class="wrapper signup-login">
		<content> 
			<img class="img-fluid" src="{{url_for('static', filename = 'img/coin.png')}}" >
			<h2>Wellcome back to <span class="brand-name">MoneyTracker</span></h2>
			<form action="/login_user" method="POST">
				<table>
					<tr>
						<td><label for="email">Email address:</label></td>
						<td><input type="text" name="email" id="email" class="form-control" ></td>
					</tr>
					<tr>
						<td colspan="2">
							{% with messages = get_flashed_messages(category_filter=["email"])%}
							{% if messages %}
							{% for message in messages %}
							<p>{{message}}</p>
							{% endfor %}
							{% endif %}
							{% endwith %}
						</td>
					<tr>
						<td><label for="password">Password:</label></td>
						<td><input type="password" name="password" id="password" class="form-control" ></td>
					</tr>
					<tr>
						<td colspan="2">
							{% with messages = get_flashed_messages(category_filter=["password"])%}
							{% if messages %}
							{% for message in messages %}
							<p>{{message}}</p>
							{% endfor %}
							{% endif %}
							{% endwith %}
						</td>
					<tr>
					<tr>
						<td colspan="2">
							{% with messages = get_flashed_messages(category_filter=["login_error"])%}
							{% if messages %}
							{% for message in messages %}
							<p>{{message}}</p>
							{% endfor %}
							{% endif %}
							{% endwith %}
						</td>
				</table>
				<input type="submit" name="register" value="Login" class="btn">
			</form>

			<p>No account? <a href="/register">Sign Up</a> </p>
		</content>
		{% include 'includes/footer.html' %}
	</div>
</body>
</html>
