<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{url_for('static',filename = 'img/coin.png')}}">
	<title>To Do · MoneyTracker</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sriracha|Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style.css')}}">
</head>
<body>
	<div class="wrapper toDo">
		{% include 'includes/header.html' %}
		<div class="container">
			<h4>Add an expense to your To Do List. When you press done they will automatically be added to your expences.</h4>
			<form action="/create-todo" method="POST">
        		<select name="category" class="form-control">
        			{% for category in categories %}
        				<option value="{{category.id}}">{{category.name}}</option>
        			{%endfor%}
        		</select>
        		<input type="text" name="expense_name" class="form-control" placeholder="name">
        		<input type="text" name="expense_price" class="form-control" placeholder="price $">
        		<input type="submit" name="Add" value="Add" class="btn">
        	</form>
        	<h4>This is your To Do List:</h4>
        	<table>
        		{%for todo in all_todos%}
	        		<tr>
	        			<td>
	        				{% if todo.is_done == False: %}
	        				<a href="/check-todo/{{todo.id}}">
	        					<img src="{{url_for('static',filename = 'img/unchecked.png')}}">
	        				</a>
	        				{% else: %}
	        				<a href="/uncheck-todo/{{todo.id}}">
	        					<img src="{{url_for('static',filename = 'img/checked.png')}}">
	        				</a>
	        				{% endif %}
	        		    </td>
						{% if todo.is_done == False: %}
	        			<td id="unchecked">{{todo.content}}, {{todo.amount}}$</td>
						{% else: %}
						<td id="checked">{{todo.content}}, {{todo.amount}}$</td>
						{% endif %}
	        			<td>
					    	<a href="#"><img title="edit" src="{{url_for('static',filename = 'img/edit.png')}}"></a>
					    </td>
					    <td>
					    	<a href="/destroy-todo/{{todo.id}}"><img title="delete" src="{{url_for('static',filename = 'img/close.png')}}"></a>
					    </td>
	        		</tr>
        		{%endfor%}
        	</table>
		</div>
		{% include 'includes/footer.html' %}
	</div>
	<script>
		
	</script>
</body>
</html>
