{% include 'includes/header.html' %}


<div class="container my-5 content-height">
    {% if not listings %}
    <h4>You have no listing</h4>
    {% else %}
    <h5 class="mb-3 text-dark">My Listings:</h5>
    {% endif %}
    {% for listing in listings %}
    <div class="list-group listing-group justify-content-start">       
        <a href="/{{listing.id}}/details" class="col-sm-12 col-md-9 col-lg-6 mb-1 list-group-item list-group-item-action list-group-item-warning">
            <div class="d-flex justify-content-between align-items-center">
                <span>{{listing.description}} on {{listing.day}} {{listing.month}}</span>
                <span id="listing-price">Price: {{listing.price}} &euro;</span>
            </div>
            <small class="text-muted">3 days ago</small>
        </a>       
    </div>
    <div class="col-sm-12 col-md-9 col-lg-6" id="delete-listing">
        <form action="/delete-listing/{{listing.id}}" method="post">
            <input type="submit" class="btn btn-danger" value="Delete">
        </form>
    </div>
    <hr>
    {% endfor %}
</div>


{% include 'includes/footer.html' %}